<h2>Admin Dashboard</h2>

<div id="top_customers">
  <% @merchants.top_five_customers.each do |customer| %>
    <%= "#{customer.first_name} #{customer.last_name} - #{customer.successful_transactions} purchases"%><br>
  <% end %>
</div><br>

<div id="incomplete_invoices">
  <% @invoices_incomplete.order(:created_at).each do |invoice|%>
    <%= "Invoice #" %><%= link_to invoice.id, "/admin/invoices/#{invoice.id}"%>
    <%= " - #{invoice.created_at.strftime("%A, %B %d, %Y")}" %><br>
  <% end %>
</div>

<p><%= link_to "Admin Merchants Index", "admin/merchants" %></p>
<p><%= link_to "Admin Invoices Index", "admin/invoices" %></p>