<h1>Invoice View</h1>

<p>Invoice id: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Created_at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer first name: <%= @invoice.customer.first_name %></p>
<p>Customer last name: <%= @invoice.customer.last_name %></p>
<p>Total Invoice Revenue: $<%= "%.2f" % (@invoice.total_revenue.to_f / 100) %></p>


<h2>Items on this invoice</h2>
<% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice-item-<%= invoice_item.item.id %>">
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Quantity Ordered: <%= invoice_item.quantity %></p>
    <p>Price Sold For: $<%= "%.2f" % (invoice_item.unit_price.to_f / 100) %></p>

    <%= form_with url: "/merchants/#{@merchant.id}/invoice_items/#{invoice_item.id}", method: :patch, data: { turbo: false }, local: true do |f| %>
      <p>
        <%= f.label :status %>
        <%= f.select :status, InvoiceItem.statuses.keys.map { |w| [w.humanize, w] }, selected: invoice_item.status %>
      </p>
      <%= f.submit "Update Item Status" %>
    <% end %>
  </div>
<% end %>
