<h1><%= @merchant.name %> discounts</h1>

<p><%= link_to "Create a new bulk discount", href: new_merchant_discount_path(@merchant)%>

<% @merchant.discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <p>Promo name: <%= discount.name %></p>
    <p>Discount percentage: <%= discount.percentage %>%</p>
    <p>Quantity threshold: <%= discount.threshold %></p>
    <p><%= link_to "Discount Details", merchant_discount_path(@merchant, discount) %></p>
  </div>
  <hr>
<% end %>