<h1>New Bulk Discount Page</h1>

<%= form_with url: [@merchant, @merchant.discounts.build], data: { turbo: true }, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :percentage %>
    <%= form.number_field :percentage %>
  </div>

  <div>
    <%= form.label :threshold %>
    <%= form.number_field :threshold %>
  </div>

  <div>
    <%= form.submit 'Create Discount' %>
  </div>
<% end %>