<h1><%= @merchant.name %></h1>
<div id="favorite_customers">
<h3>Top Customers</h3>
  <% @customers.top_five_customers.each do |customer| %>
    <%= "#{customer.first_name} #{customer.last_name} - #{customer.purchases} purchases"%><br>
  <% end %>
</div><br>

<div id="items_ready_to_ship">
<h3>Items Ready To Ship</h3>
  <% @merchant.items_ready_to_ship.each do |item| %>
    <%= "#{item.name} - Invoice #"%><%= link_to item.invoice_id, merchant_invoice_path(@merchant, item.invoice_id) %>
    <%= " - #{item.invoice_date.strftime("%A, %B %d, %Y")}" %><br>

  <% end %>
</div>

<p><%= link_to "Items Index", merchant_items_path(@merchant.id) %></p>
<p><%= link_to "Invoices Index", merchant_invoices_path(@merchant.id) %></p>