<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header>
    <div class="header-title">
      <h1>Little Esty Shop</h1>
    </div>
    <nav>
      <ul>
        <li><%= link_to 'Dashboard', dashboard_path %></li>
        <li><%= link_to 'Merchants', merchants_path %></li>
        <li><%= link_to 'Invoices', invoices_path %></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <%= yield %>
  </div>
    <%= yield %>
  </body>
</html>
